* 
body{font-family: 'Poppins', sans-serif; padding: 0px; margin: 0px;}
.top-banner{background-image: url(images/bangladesh.jpg);}
.top-header{background: green; color: red; width: 70%; margin: 0 auto; text-align: center;}
.top-container{display: flex; width: 60%; padding-left: 5px; margin-left: 10%; text-align: justify;}
.top-container img{width: 250%; padding: 10px 20px; background: cornflowerblue; }
.top-image{margin-left: 20px;}
.button{text-decoration: none; padding: 10px 30px; background:  green; border-radius: 5px; color: red; font-weight: 700; transition: 0.5s;}
.button:hover{background: chartreuse; color: maroon;}
.all-div{background-image: linear-gradient(blue, red); border-image-slice: 1;
width: 70%; margin: 0 auto; text-align: center;} 
.bottom{display: flex; width: 90%; padding: 3%; }

.dhaka{width: 100%; margin: 10px; padding: 10px; border-radius: 10px; box-shadow: 10px 10px 40px gray; text-align: justify;}
.dap{width: 100%; height: 50px;}
#divi{background:cornflowerblue; color: crimson; padding: 5px; border-radius: 2px; text-align: center;}
.button-bottom{text-decoration: none; background: green; color: red; padding: 5px 15px; border-radius: 2px; text-align: center; margin: bottom 1px;; transition: 0.5s;}
.button-bottom:hover{background: chartreuse; color: maroon;}
footer p{text-align: center;} 

    

